/* style.css */

body {
    font-family: 'Roboto', sans-serif; 
}

/* first section */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 8px 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 200px;
    padding: 50px 150px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    font-size: 48px;
    font-weight: normal;
    color: #f9faf8;
    margin-top: 0;
    margin-bottom: 0;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.button-one {
    width: 100px;
    font-size: 18px;
    border-radius: 10px;
    color: #f9faf8;
    background-color: #3882F6;
    border: 3px solid #3882F6
}

img {
    height: 275px;
    width: 1000px;
}

/* second section */

.information-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #152937;
    padding-bottom: 24px;
}

.second-container {
    display: flex;
    justify-content: space-between;
    padding-left: 350px;
    padding-right: 350px;
    gap: 50px;
}

.items {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.images {
    border-radius: 16px;
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6
}

/* third section */

.third-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 350px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

.author {
    text-align: end;
    font-size: 20px;
    margin-top: 8px;
}

/* fourth section */

.fourth-container {
    margin: 48px auto;
    padding: 8px 100px;
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    background-color: #3882F6;
}

.main-four {
    font-size: 20px;
    color: #f9faf8;
    margin-bottom: 0;
}

.secondary-four {
    color: #e5e7eb;
    margin-top: 0;
}

.button-four {
    border: 3px solid #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color:#F9FAF8;
    font-size: 18px;
}

/* footer */

.footer {
    display: flex;
    height: 96px;
    justify-content: center;
    align-items: center;
    background-color: #152937;
    color: #e5e7eb;
}