/* style.css */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 8px 150px;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 24px;
    padding: 16px 150px;
}

h3 {
    color: #f9faf8;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

button {
    font-size: 18px;
    margin: 0;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882F6;
    padding: 8px 32px;
}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    height: 300px;
    width: 1000px;
}

.hero-main {
    font-size: 48px;
    font-weight: normal;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #152937;
    padding-bottom: 24px;
}
.border-box {
    border-radius: 16px;
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6
}

.four-items {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.second-section-container {
    display: flex;
    justify-content: space-between;
    padding-left: 350px;
    padding-right: 350px;
    gap: 25px;
}

.third-section-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 350px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

h4 {
    text-align: end;
}

.fourth-section-container {
    margin: 48px auto;
    padding: 8px 100px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    background-color: #3882F6;
}

.call-to-action {
    font-size: 20px;
    color: #f9faf8;
}

.sign-clicking {
    color: #e5e7eb;
}

.bottom-button {
    border: 3px solid #F9FAF8
    height: min-content;
}